html {
	font-family: 'Muli', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}

/*--------------HEADER/HERO----------------*/

body {
	width: 100%;
	background-image: url(assets/cs.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	z-index: 10;
}

.navigation {
	width: 50%;
	height: 100px;
	position: relative;
	float: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.logo {
	background-image: url(assets/redlogop.png);
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: left;
	height: 100px;
	width: 50%;
	position: relative;
	float: left;
}


div ul li {
	list-style: none;
	color: black;
	text-decoration: none;
	display: inline-block;
}

#login {
	text-decoration: none;
	background-color: #DB1B00;
	margin-left: 40px;
	padding: 10px 50px;
	box-shadow: 8px 10px 14px 0px rgba(0,0,0,0.31);
	color: white;
	font-weight: 800;
	transition: 0.5s;
}

#login:hover {
	background-color: #960000;
	transition: 0.5s;
}

.title {
	margin: auto;
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

/*--------------PERSONAL INFORMATION-------------*/

.form1 {
	width: 40%;
	margin-left: 130px;
	margin-top: 40px;
}

.orangebox {
	width: 10%;
	height: 60px;
	background-color: #FC6E2E;
	text-align: center;
	font-weight: 800;
	color: white;
	position: relative;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.redbox {
	width: 90%;
	height: 60px;
	background-color: #DB1B00;
	font-weight: 800;
	color: white;
	position: relative;
	float: right;
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 20px;
}

.formbox1 {
	width: 100%;
	background-color: #FFF7E4;
	padding: 5% 10%;
	position: relative;
	float: left;
	margin-bottom: 30px;
}

input[type=text], [type=password], [type=date], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}

#instruct {
	padding: 10px;
	text-align: center;
	font-size: 14px;
}

#instruct-paypal {
	padding: 10px;
	text-align: left;
	font-size: 14px;
	margin-left: 8px;
}

#drugs {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}

.icon-container {
	width: 50%;
	position: relative;
	float: right;
	text-align: right;
	font-size: 20px;
}

#pay {
	margin-left: 0;
	margin-right: 5px;
}

.cc-container {
	margin-left: 18px;
}

#edate {
	width: 100px;
	text-align: center;
}

#cvv {
	width: 100px;
	text-align: center;
}

.cvv-number {
	margin-left: 20px;
}



/*------------SIGNUP STATEMENT------------*/

.signup_now {
	width: 100%;
	height: 200px;
	position: relative;
	float: left;
}

.contents {
	position: relative;
	width: 80%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	margin-top: 50px;
	margin: auto;
	text-align: right
}


.signup_text {
	position: relative;
	float: left;
	width: 50%;
	padding: 10px;
}

.subscribe2 {
	background-color: #FFB200;
	width: 160px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 8px 10px 14px 0px rgba(0,0,0,0.31);
	transition: 0.5s;
	margin: auto;
	border: none;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	font-weight: 800;

}

.subscribe2:hover {
	background-color: yellow;
	transition: 0.5s;
}


#subscribebutton {
	text-decoration: none;
	color: black;
	font-weight: 800;
}





/*--------------FOOTER-----------------*/


.footer {
	background-color: red;
	position: relative;
	color: white;
	margin-top: 50px;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;

}


/*--------------MODAL-----------------*/



.subscribe3 {
	background-color: #FFB200;
	width: 250px;
	border-radius: 25px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 8px 10px 14px 0px rgba(0,0,0,0.31);
	transition: 0.5s;
	margin: 20px 20px;
	border: none;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	font-weight: 800;
}

.subscribe3:hover {
	background-color: yellow;
	transition: 0.5s;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8 );
   /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	margin: auto;
  	width: 450px;
  	height: 250px;
	background-color: #FFF7E4;
	text-align: center;
	padding: 30px;
	box-shadow: 8px 10px 14px 0px rgba(0,0,0,0.31);
	position: relative;
	top: 130px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF7E4;
}

#success {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


#homepage {
	text-decoration: none;
	color: black;
}

#myBtn {
	cursor: pointer;
}


/* RESPONSIVE COOMANDS */

@media only screen and (max-width: 1000px) {

.title {
	margin: 0;
}

  .logo {
  	background-size: 150px;
  }
  	

  #a_instruct {
  	font-size: 12px;
  }

  #login {
  	margin-right: 5px;
  	margin-left: 5px;
  	padding: 5px 25px;
	border-radius: 25px;
	box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.15);
	font-size: 12px;
  }


.footer {
	font-size: 12px;
}


.signup_text {
	width: 100%;
}

.subscribe2 {
 	box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.15);
	font-size: 12px;
	width: 100px;
	padding: 5px;
	position: relative;
	float: right;

  }


.subscribe3 {
 	box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.15);
	font-size: 12px;
	width: 180px;
	padding: 5px;
  }

.form1 {
	width: 70%
}


@media only screen and (max-width: 653px) {

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 
}

  #a_instruct {
  	display: none;
  }

.redbox {
	font-size: 12px;
	height: 40px;
}

.form1 {
	font-size: 12px;
	width: 70%;
	margin: auto;
}


.orangebox {
	font-size: 12px;
	height: 40px;
}

#instruct {
	padding: 10px;
	text-align: center;
	font-size: 10px;
}

#instruct-paypal {
	font-size: 12px;
}

#success {
	font-size: 12px;
}


.title {
	font-size: 13px;
}

input[type=text], [type=password], [type=date], select, textarea {
  width: 100%; /* Full width */
  padding: 6px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px;
  font-size: 10px;
}

#drugs {
	width: 100%; /* Full width */
  padding: 6px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px;
  font-size: 10px;
}

.icon-container {
	font-size: 12px;
}

#bottomtext {
	font-size: 12px;
}

.cvv-number {
	font-size: 12px;
	margin-left: 0;
}


label {
	display: block;
}


.pwblock {
	display: inline;
}

.footer {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.modal-content {
    margin: auto;
    width: 300px;
    height: 200px;
    display: flex;
    position: relative;
	top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF7E4;
    text-align: center;
    padding: 20px;
    box-shadow: 8px 10px 14px 0px rgba(0,0,0,0.31);
}